<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://java.sun.com/jsf/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:outputLabel value="Welcome, #{orderController.username}"/><br/>
    <br/><br/>

    <h3>Create new offer</h3>

    <h:form>
        <h:panelGrid columns="2">
            <h:outputLabel for="name">Offer name: </h:outputLabel>
            <h:inputText id="name" value="#{newOrder.name}"/>

            <h:outputLabel for="address">Offer address: </h:outputLabel>
            <h:inputText id="address" value="#{newOrder.address}"/>

            <h:outputLabel for="description">Description: </h:outputLabel>
            <h:inputText id="description" value="#{newOrder.description}"/>
        </h:panelGrid>
        <p>
            <h:panelGrid columns="2">
                <h:commandButton id="createorder"
                                 action="#{orderController.createOrder}"
                                 value="Create Order"/>
                <h:messages styleClass="messages" errorClass="invalid"
                            infoClass="valid" warnClass="warning" globalOnly="true"/>
            </h:panelGrid>
        </p>
    </h:form>
    <br/><br/>
    <h3>My offers</h3>
    <h:form>
        <h:dataTable id="my_orders" value="#{orderController.myOrders}" var="order" border="2"
                     cellspacing="1" cellpadding="1">
            <h:column>
                <c:facet name="header">Name</c:facet>
                #{order.name}
            </h:column>
            <h:column>
                <c:facet name="header"> </c:facet>
                    <h:commandButton action="#{orderController.deleteOrder}" value="close">
                        <f:setPropertyActionListener target="#{orderController.selectedOrder}" value="#{order}" />
                    </h:commandButton>
            </h:column>

        </h:dataTable>
    </h:form>
    <br></br>

    <h3>Active Orders</h3>
    <h:form>
        <h:dataTable id="orders" value="#{orderController.otherOrders}" var="order" border="2"
                     cellspacing="1" cellpadding="1">
            <h:column>
                <c:facet name="header">Name</c:facet>
                #{order.name}
            </h:column>
            <h:column>
                <c:facet name="header">Address</c:facet>
                #{order.address}
            </h:column>
            <h:column>
                <c:facet name="header">Description</c:facet>
                #{order.description}
            </h:column>
            <h:column>
                <c:facet name="header"> </c:facet>
                    <h:commandButton action="#{orderController.deactivateOrder}" value="take it">
                        <f:setPropertyActionListener target="#{orderController.selectedOrder}" value="#{order}" />
                    </h:commandButton>
            </h:column>

        </h:dataTable>
    </h:form>
    <br></br>
    <h:form>
        <h:commandButton id="logout" action="#{loginController.logout}"
                     value="logout"/>
    </h:form>
</f:view>
</html>
