<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>login</title>
</h:head>
<f:view>
    <h:form>
        <h2>Don't Waste!</h2>
        <h:outputText value="Username " />
        <h:inputText id="username"  value="#{loginController.username}"/>
        <br/><br/>
        <h:outputText value="Password " />
        <h:inputSecret id="password" value="#{loginController.password}"/>
        <br/><br/>
        <h:commandButton value="Login" action="#{loginController.validateUserLogin}" />
        <h:messages styleClass="messages"
                    errorClass="invalid" infoClass="valid"
                    warnClass="warning" globalOnly="true"/>
        <br/>
        No password? Sign up <h:link value="here" outcome="signup"/><br/>
    </h:form>
</f:view>
</html>
