<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    Back to <h:link value="login" outcome="login"/><br/>
    <h2>Sign up!</h2>

    <h:form>
        <h:panelGrid columns="2">
            <h:outputLabel for="firstname">First name: </h:outputLabel>
            <h:inputText id="firstname" value="#{user.firtsname}"/>

            <h:outputLabel for="lastname">Last name: </h:outputLabel>
            <h:inputText id="lastname" value="#{user.lastname}"/>

            <h:outputLabel for="email">Email: </h:outputLabel>
            <h:inputText id="email" value="#{user.email}"/>

            <h:outputLabel for="username">Username: </h:outputLabel>
            <h:inputText id="username" value="#{user.username}"/>

            <h:outputLabel for="password">Password: </h:outputLabel>
            <h:inputText id="password" value="#{signUpController.password}"/>
        </h:panelGrid>
        <p>
            <h:panelGrid columns="2">
                <h:commandButton id="signup"
                                 action="#{signUpController.signUpUser}"
                                 value="Sign up"/>
                <h:messages styleClass="messages" errorClass="invalid"
                            infoClass="valid" warnClass="warning" globalOnly="true"/>
            </h:panelGrid>
        </p>
    </h:form>
</f:view>
</html>
